.button_primary {
  display: block;
  background-color: #ff9800;
  width: 20vh;
  height: 5vh;
  margin: auto;
  color: #fff;
  position: absolute;
  border-radius: 5px;
  border: 0px;
}
  
.button_secondary {
  display: block;
  background-color: #333;
  width: 20vh;
  height: 5vh;
  margin: auto;
  color: #ff9800;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  border: none;
}



