body {
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif; }

.container.tabla {
  background-color: #ffffff; }

.container.botones {
  margin-bottom: 5vh; }

.container-fluid.cabecera {
  margin-top: 5%;
  width: 100%;
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  background-color: #FF9800; }

.row.opciones {
  padding-top: 10px; }

#popupContenido3 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%; }

.botonCancelar {
  background-color: #999999;
  color: #FF9800;
  text-decoration: none;
  cursor: pointer;
  border: 0px; }

.botonEliminar {
  background-color: #0f0f0f;
  color: #FF9800;
  text-decoration: none;
  cursor: pointer;
  border: 0px; }

.col.datos-tabla {
  border: #333333 1px solid; }

p {
  float: left; }

#tCabecera {
  background-color: #ffffff;
  margin: 0px; }



